---
import { Icon } from 'astro-icon/components'

const {
  title = "Breaking Barriers: Our Journey to UN WEPs Award Recognition in Innovative Financing",
  description = "We are thrilled to announce our recent achievement at the UN Women's Empowerment Principles (WEPs) Awards, securing second place in the Innovative...",
  buttonText = "Read More",
  imagePath = "/images/rejina-sherry-awards.png",
  imageAlt = "UN WEPs Award Recognition"
} = Astro.props;
---

<div class="mx-auto max-w-5xl md:mb-4 text-center">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <!-- Left Column - Text Content -->
    <div class="bg-teal-900 text-white p-8 lg:p-12 flex flex-col justify-center">
      <div class="max-w-xl">
        <h1 class="text-lg lg:text-xl font-serif leading-tight mb-6">
          {title}
        </h1>

        <p class="text-gray-200 mb-8 text-md">
          {description}
        </p>

        <a href="https://www.linkedin.com/posts/wahine-capital_mental-activity-7252218684260114433-fiMb?utm_source=share&utm_medium=member_desktop" class="inline-flex items-center bg-lime-300 text-teal-900 px-6 py-3 rounded-full hover:bg-lime-400 transition-colors group">
          <span class="font-medium">{buttonText}</span>
          <Icon 
            name="lucide:arrow-up-right" 
            class="ml-2 w-5 h-5 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform"
          />
        </a>
      </div>
    </div>

    <!-- Right Column - Image -->
    <div class="relative h-full min-h-[200px] lg:min-h-[300px]">
      <img
        src={imagePath}
        alt={imageAlt}
        class="object-cover absolute inset-0 w-full h-full"
      />
    </div>
  </div>
</div>