---
import Headline from './ui/Headline.astro';

const {
  title = 'Awards & Recognition',
  images = [
    {
      url: '/images/recognitions/wep-awards.png',
      description: 'The 2024 WEPs Awards, First Runner-up in Innovative Financing',
      link: 'https://www.linkedin.com/posts/wahine-capital_mental-activity-7252218684260114433-fiMb?utm_source=share&utm_medium=member_desktop',
      classes: 'object-contain w-32',
    },
    {
      url: '/images/recognitions/the-lhoft.png',
      description: 'Top 10 for Acceleration Program, 2024',
      link: 'https://www.linkedin.com/posts/the-lhoft_wvault-fintech-womenempowerment-ugcPost-7209801952132538368-yvoG?utm_source=share&utm_medium=member_desktop',
      classes: 'object-contain w-32',
    },
    {
      url: '/images/recognitions/tigerhall-women.png',
      description: 'AWS x Tigerhall Womens, Jan 2023',
      link: '#',
      classes: 'w-28',
    },
    {
      url: '/images/recognitions/rhb.png',
      description: 'Top 28 for RHB Xcelerator Program, Jan 2023',
      link: 'https://1337.ventures/rhb-bank-launches-xcelerator-2023-to-advance-asean-fintech-solutions/',
      classes: 'w-32',
    },
  ],
} = Astro.props;
---

<section class="relative not-prose scroll-mt-[72px] my-16">
  <div class="inset-0 absolute pointer-events-none -z-[1]" aria-hidden="true">
    <div class="inset-0 absolute"></div>
  </div>
  <div
    class="intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter intercept-no-queue relative mx-auto px-4 text-default max-w-5xl"
  >
    <div class="text-center md:mx-auto max-w-3xl">
      <Headline title={title} subtitle={''} />
    </div>
    <div class="mx-auto mt-8">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 md:gap-12 items-center justify-items-center">
        {
          images.map(({ url, link, description, classes }) => (
            <a href={link} target="_blank" class="flex flex-col space-y-4 items-center justify-center w-full">
              <img
                class={`${classes} transition-transform duration-300 hover:scale-110`}
                src={url}
                alt=""
                loading="lazy"
              />
              <p class="text-sm text-center">{description}</p>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
