---
interface Props {
  imageUrl?: string;
  description?: string;
  name?: string;
  position?: string;
}

const { imageUrl, description, name, position } = Astro.props;
---

<div
  class="flex flex-col md:flex-row md:items-center border border-accent-200 shadow-md shadow-accent-200 rounded-lg p-4 md:border-none md:shadow-none"
>
  {/* Desktop Image */}
  <div class="hidden md:block mb-24 md:mb-0 sm:px-6">
    <div class="rounded-full bg-gradient-to-r from-primary-500 via-athens-gray-500 to-accent-500 p-1">
      <img class="rounded-full w-56 lg:w-80" src={imageUrl} alt={`${name}'s profile picture`} />
    </div>
  </div>

  <div>
    <blockquote>
      <div class="relative z-10">
        <p class="text-xl font-medium font-sans text-gray-800 md:text-2xl md:leading-normal w-full">
          {description}
        </p>
      </div>
      <footer class="mt-6">
        <div class="grid grid-cols gap-6">
          <div class="md:ms-0">
            <div class="text-base font-semibold text-gray-800">{name}</div>
            <div class="text-xs text-gray-500 ">{position}</div>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
