---
import Hero from '~/components/widgets/Hero.astro';
import PageLayout from '~/layouts/PageLayout.astro';
import ProductBenefits from '~/components/ProductBenefits.astro';
import type { Benefit } from '~/types';
import FeatureCard from '~/components/FeatureCard.astro';
import TestimonialSection from '~/components/TestimonialSection.astro';
import HighlightSection from '~/components/HighlightSection.astro';
import PricingSection from '~/components/PricingSection.astro';
import { Icon } from 'astro-icon/components';

const benefits: Benefit[] = [
  {
    id: 1,
    title: 'Instant Financial Access',
    description: 'Backup your important financial information like assets and liabilities in one place.',
    image: '/images/benefits/instant-financial-access.png',
  },
  {
    id: 2,
    title: 'Prepare for Life Events',
    description:
      'Prepare for major life events like divorce, death, or tax filing. Share what you have stored in W Vault with your loved ones. Reduce complications in estate distribution and other legal processes',
      image: '/images/benefits/prepare-for-life-events.png',
  },
  {
    id: 3,
    title: 'Clear Financial Overview',
    description:
      'Gain new insights on your finances via an intuitive dashboard, empowering informed decision-making and better financial management.',
    image: '/images/benefits/clear-financial-overview.png',
  },
  {
    id: 4,
    title: 'Network of Experts',
    description:
      'WVault is here to support you every step of the way, providing a safe space where you can grow, learn, and connect with our superwomen.',
    image: '/images/benefits/network-of-experts.png',
  },
];

const features = [
  {
    title: 'Comprehensive Asset Management',
    description:
      'Easily catalog and track all your assets, from bank accounts and investments to property, vehicles, and more.',
    icon: 'chat',
  },
  {
    title: 'Liability Control',
    description:
      'Get a clear view of your liabilities, including loans and credit cards, to make strategic debt management decisions.',
    icon: 'whiteboard',
  },
  {
    title: 'Access & Notifier List Management',
    description:
      'Designate trusted loved ones to have access to your W Vault information and to be notified in case of critical life events, ensuring your financial life is managed according to your wishes.',
    icon: 'whiteboard',
  },
  {
    title: 'Smart Financial Calculators',
    description: 'Plan for your future with confidence using our suite of six financial calculators:',
    icon: 'quiz',
  },
  {
    title: 'Financial Worksheet Templates',
    description:
      'Access professionally designed templates to structure your financial journey, including SMART goal setting worksheets and comprehensive monthly budgeting tools that help you track income, expenses, and progress toward your financial objectives.',
    icon: 'recording',
  },
  {
    title: 'Financial Knowledge Hub',
    description:
      'Expand your financial knowledge with our curated collection of articles, guides, and resources covering essential topics from basic money management to advanced wealth-building strategies.',
    icon: 'recording',
  },
];

const navlinks = [
  {
    title: 'Hello',
    href: '/',
  },
  {
    title: 'Benefits',
    href: '#',
  },
];
---

<PageLayout>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="subtitlePrimary" class="font-serif theme-gradient"> W Vault </Fragment>
    <Fragment slot="title" class="font-serif text-gray-800">
      A dedicated digital safe, uniquely crafted <span class="theme-gradient">for women by women</span></Fragment
    >
    <Fragment slot="subtitle">
      <div class="">
        <div class="">
          <p class="text-md lg:text-xl">Organize your complete financial picture in one secure digital vault</p>
        </div>
        <a
          href="https://wahine.wcapital.asia/accounts/register/"
          target="_blank"
          class="inline-flex items-center bg-primary-700 text-white px-6 py-3 rounded-full hover:bg-primary-800 transition-colors group my-6"
        >
          <span class="font-medium">Get Stared for Free</span>
          <Icon
            name="lucide:arrow-up-right"
            class="ml-2 w-5 h-5 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform"
          />
        </a>
      </div>
    </Fragment>
    <Fragment slot="image">
      <div class="relative" style="padding:55% 0 0 0;">
        <iframe
          src="https://player.vimeo.com/video/1042610150?badge=0&autopause=0&player_id=0&app_id=58479"
          allow="fullscreen; picture-in-picture"
          allowfullscreen
          title="Introductory Video"
          aria-label="Introductory video about AstroWind"
          class="absolute top-0 left-0 w-full h-full video-player"></iframe>
      </div>
      <style>
        .video-player {
          border-radius: 1rem;
          overflow: hidden;
        }
      </style>
      <script
        src="https://player.vimeo.com/api/player.js"
        integrity="sha256-eUufT6FTYjlNmRNVQSG5VvLuX13DaFQKjMdh3Jx2aPE="
        crossorigin="anonymous"></script>
    </Fragment>
  </Hero>

  <div class="bg-gray-100 py-12">
    <ProductBenefits benefits={benefits} />
  </div>
  <div class="py-12">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-16">
        <p class="text-lg font-medium text-gray-500 mb-2 font-serif theme-gradient">What's In The Vault?</p>
        <h2 class="text-3xl font-medium text-gray-800">
          Whether you're just starting your financial journey or looking to take your wealth to the next level, W Vault
          provides the tools, education, and support you need to succeed. It's not just a financial management platform
          - it's your partner in building a thriving financial future.
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          features.map((feature) => (
            <FeatureCard title={feature.title} icon={feature.icon} description={feature.description} />
          ))
        }
      </div>
    </div>
  </div>
  <TestimonialSection />
  <div
    class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 mt-10 md:space-x-16 flex flex-col md:flex-row items-center space-y-10 md:space-y-0 py-10"
  >
    <div class="flex flex-col items-center justify-center">
      <div class="text-center mb-12">
        <h2 class="text-3xl font-medium text-gray-900 font-serif">
          Explore our engaging articles and powerful financial tools, including retirement calculators, on W Vault's
          resource page! Discover how to take charge of your financial future today!
        </h2>
      </div>
      <img src="https://assets.lifeofw.com/images/calculator-article.png" alt="" class="w-lg" />
    </div>
  </div>
  <PricingSection />

  <HighlightSection
    primaryCTA={{ text: 'Get Started for Free', href: 'https://wahine.wcapital.asia/accounts/register/' }}
    secondaryCTA={false}
  />
</PageLayout>
